# Database
AVABOT_CONNECTION_STRING=Host=<DB_HOST>;Database=<DB_NAME>;Username=<DB_USER>;Password=<DB_PASSWORD>

# OpenAI
OPENAI_API_KEY=<OPENAI_API_KEY>

# WPP Connect
WPP_SECRET_KEY=<WPP_CONNECT_SECRET_KEY>

# Auth
AVABOT_USERNAME=<AVABOT_USERNAME>
AVABOT_PASSWORD=<AVABOT_PASSWORD>
AVABOT_JWT_SECRET=<AVABOT_JWT_SECRET>
